<!DOCTYPE html>
<html>
<head>
    <title>My Villas</title>
</head>
<body>
    <h1>My Villas</h1>
    
    {% if villas %}
        <p>Total villas: {{ total }}</p>
        
        {% for villa in villas %}
                <h2>{{ villa.title }}</h2>
                <p><strong>City:</strong> {{ villa.city }}</p>
                <p><strong>Address:</strong> {{ villa.address }}</p>
                <p><strong>Capacity:</strong> {{ villa.capacity }} guests</p>
                <p><strong>Price per Night:</strong> {{ villa.price_per_night }} Tomans</p>
                
                <p><strong>Amenities:</strong> {{ villa.amenities }}</p>
                <a href="{% url 'Villas:edit_villa' villa.villa_id %}">
                    <button>Edit</button>
                </a>
                <a href="{% url 'Villas:delete_villa' villa.villa_id %}">
                    <button>Delete</button>
                </a>
                <a href="{% url 'availability:update_availability' villa.villa_id %}">
                    <button>Manage Availability</button>
                </a>
                <a href="{% url 'availability:availability' villa.villa_id %}">
                    <button>View Calendar</button>
                </a>
                
                <hr>
            </div>
        {% endfor %}
        
    {% else %}
        <p>No villas registered yet.</p>
    {% endif %}
    
    <br>
    <a href="{% url 'Villas:create_villa' %}">Add New Villa</a>
    <br>
    <a href="{% url 'Villas:host_dashboard' %}">Back to Dashboard</a>
</body>
</html>