<!DOCTYPE html>
<body>
    <div>
        {% if error %}
            <p style="color:red">{{ error }}</p>
        {% endif %}
        <h2>serach for villas</h2>
        <form method="GET">
            <input
                type="text"
                name="city"
                placeholder="Enter city"
                value="{{ request.GET.city }}"
            >

            <label>Check-in</label>
            <input
                type="date"
                name="check_in"
                value="{{ request.GET.check_in }}"
            >

            <label>Check-out</label>
            <input
                type="date"
                name="check_out"
                value="{{ request.GET.check_out }}"
            >

            <button type="submit">Search</button>
        </form>
        <h2>Available Villas</h2>
        {% if searched_villas %}
            {% for villa in searched_villas %}
                <div>
                    <h3>{{ villa.title }}</h3>
                    <p><strong>City:</strong> {{ villa.city }}</p>
                    <p><strong>Capacity:</strong> {{ villa.capacity }}</p>

                    <p><strong>Price:</strong>
                        ${{ villa.price_per_night }}/night
                    </p>

                    <a href="{% url 'reservations:villa_detail' villa.id %}">
                        View Details
                    </a>

                </div>
            {% endfor %}
        {% else %}
            <p>No villas found.</p>
        {% endif %}
        <h2>My Reservations</h2>
        <hr>
        {%if total%}
            <h5>Total Reservations: {{ total }}</h5>
        {%endif%}
        {% if reservs %}

        <table >
            <thead>
                <tr>
                    <th>Villa</th>
                    <th>City</th>
                    <th>Check In</th>
                    <th>Check Out</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>Created At</th>
                </tr>
            </thead>

            <tbody>

            {% for reservation in reservs %}
                <tr>
                    <td>{{ reservation.villa.Title }}</td>
                    <td>{{ reservation.villa.City }}</td>
                    <td>{{ reservation.check_in }}</td>
                    <td>{{ reservation.check_out }}</td>
                    <td>{{ reservation.total_price }}</td>
                    <td>{{ reservation.status }}</td>
                    <td>{{ reservation.created_at }}</td>
                </tr>
            {% endfor %}

            </tbody>

        </table>

        {% else %}

            <div>
                You don't have any reservations yet.
            </div>

        {% endif %}

    </div>
</body>
